@page "/movie/{id:int}"
@inject IDataLayer DataLayer
@using Models.Domain

<h3>MoviePage</h3>

@if (item == null)
{
    <span>error</span>
}
else
{
    <table class="table" border="0" width="500" height="500" cellspacing="0">
        <tr>
            @item.original_title
        </tr>
        <tr>
            @item.overview
        </tr>

    </table>
    <button type="button" class="btn btn-info" @onclick=AddToFavorite>AddToFavorite</button>
}

@code {
    [Parameter]
    public int id { get; set; }
    Result item { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var items = await DataLayer.MovieById(id);
        item = items;
    }

    async Task AddToFavorite()
    {
        await DataLayer.AddToFavorites(id);
    }

}
