@page "/trending"
@inject IDataLayer DataLayer
@using Models.Domain
<h3>Trending movies</h3>
<h1>@token</h1>
@if (items == null)
{
    <p>Nothing to see here</p>
}
else
{ <table class="table" style="width:300px">
        <tbody>

            @foreach (var element in items.results)
            {
                <td width="55%">
                    <a href=@($"/movie/{element.id}") asp-route-id="@element.id"> @element.title</a>  
                </td>
            }
        </tbody>
  </table>
    }


@code {

    Root items { get; set; }
    string token { get; set; }

    protected override async Task OnInitializedAsync()
    {
        items = await DataLayer.Trending();
        token = DataLayer.Tokent();
    }

}
